
.base {
	background-color: aqua;
	display: inline-block;
	width: 100%;
	margin: auto;
}

.welcomeleft {
  display: inline-block;
  float: left;
  margin-top: 16px;
  margin-left: 10%;
}

.welcomeright {
  display: inline-block;
  float: right;
  margin-right: 10%;
}

.wrapper {
  display: inline-block;
  padding: 25px;
  border: black dotted;
  margin: 50px;
}

.center {
  text-align: center;
}
.p-20 {
  padding: 20px;
}
button {
  padding: 0px 10px;
  margin: 0px 10px;
}
.fixBottom {
  position: fixed;
  bottom: 0;
}